.HeaderConten{
    width: 100%;
    height: 100vh;
    background-color:var(--background-rgba)
}
.Hadding__bg_color{
    z-index: 1;
}
.Slider__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.Slider__img__conten{
    height: 100vh;
    width: 100%;
}





